* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*say joke */
.joke-box {
  width: 900px;
  height: 400px;
  margin: auto;
  border-radius: 30px;
  width: 100%;
  max-width: 900px;
  /* background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%); */
  background: #f4c4f3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fc67fa,
    #f4c4f3
  );
  background: linear-gradient(
    to right,
    #fc67fa,
    #f4c4f3
  ); 
}
.h1-text {
  font-family: "Fredoka", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Shadows Into Light", cursive;
}
.btn-joke {
  padding: auto;
  margin: 20px;
}
.text-box-joke {
  padding: 20px;
}
.p-joke,
.shaden-nav {
  font-family: "Fredoka", sans-serif;
  font-family: "Shadows Into Light", cursive;
}

/* right click */

ul {
  list-style: none;
}
.context-menu {
  position: absolute;
}
.display-none {
  display: none;
}
.menu {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
  padding: 10px 0;
}
.menu > li > a {
  font: inherit;
  border: 0;
  padding: 10px 30px 10px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -ms-transition: 0.5s linear;
  -o-transition: 0.5s linear;
}
.menu > li > a:hover {
  background: #f1f3f7;
  color: #4b00ff;
}
.menu > li > a > i {
  padding-right: 10px;
}
.menu > li.trash > a:hover {
  color: red;
}

/* calculator */

.box {
  height: 600px;
  width: 100%;
  max-width: 1100px;
  margin: 60px auto;
  padding: 40px;
  /* background-color: #eeb39c; */
}
.layout {
  /* margin: auto; */
  width: 350px;
  height: 540px;
  position: relative;
  background: pink;
  border-radius: 20px;
  justify-content: center;
  box-shadow: 2px 2px 15px rgb(248, 147, 165);
}

.calculator {
  height: 500px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: minmax(100px, auto) repeat(5, 70px);
}

.calculator > .btn-cal {
  margin: 6px;
  color: #fff;
  font-size: 2rem;
  outline: none;
  cursor: pointer;
}

.btn-cal {
  border-radius: 50%;
  border: none;
  background: linear-gradient(315deg, #fc737c, pink);
  box-shadow: 2px 2px 6px #f58787;
}

.clear,
.equals {
  grid-column: span 2;
  height: 90%;
  width: 95%;
  border-radius: 4em;
}

.btn-cal:active {
  background: linear-gradient(315deg, pink, #fc737c);
}

.output{
  grid-column: 1/ -1;
  box-shadow: inset -2px -2px 10px #f17171;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 0px 20px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 30px;
  margin: 35px 0 30px 0;
}

.output-text{
  border: none;
  outline: none;
  width: 240px ;
  padding: 10px;
  height:70px ;
  color: #f17171;
  font-size: 2rem;
  box-shadow: inset -2px -2px 10px #f17171;

}

/* .output .previous {
  color: rgb(255, 255, 255, 0.7);
  font-size: 20px;
  margin-top: 10px;
}

.output .current {
  color: #fff;
  font-size: 25px;
  margin: 5px 0;
} */

/* weather */
.weather-box {
  width: 1200px;
  height: 600px;
  width: 100%;
  max-width: 1200px;
  margin: 60px auto;
  background-image: url("https://source.unsplash.com/random/1200x600/?landscape");
  border-radius: 30px;
}
.weather-details {
  color: #f1f3f7;
  font-weight: 300;
  font-family: "Fredoka", sans-serif;
  width: 700px;
  height: 500px;
  border-radius: 30px;
  background-color: rgba(138, 98, 156, 0.3);
}
.input-weather {
  width: 400px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 20px;
  border-radius: 40px 0 0 40px;
  font-family: inherit;
  font-size: medium;
}
.btn-weather {
  width: 50px;
  height: 40px;
  border-radius: 0 40px 40px 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
}
.icon-weather {
  height: 80px;
}
