*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #ef32d9;
    background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);
    background: linear-gradient(to right, #89fffd, #ef32d9);
}
.btn-joke{
    padding: auto;
    margin: 20px;
}
.box-joke{
    padding: 20px;

}