
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*say joke */
.h1-text {
  font-family: "Fredoka", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Shadows Into Light", cursive;
}
.joke-box {
  width: 900px;
  height: 400px;
  margin: auto;
  border-radius: 30px;
  background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
}
.btn-joke {
  padding: auto;
  margin: 20px;
}
.text-box-joke {
  padding: 20px;
}
.p-joke ,.shaden-nav{
  font-family: "Fredoka", sans-serif;
  font-family: "Shadows Into Light", cursive;
}
