@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Nanum+Gothic:wght@800&family=Shadows+Into+Light&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*say joke */
.h1-text {
  font-family: "Fredoka", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Shadows Into Light", cursive;
}
.joke-box {
  width: 900px;
  height: 400px;
  margin: auto;
}
.btn-joke {
  padding: auto;
  margin: 20px;
}
.text-box-joke {
  padding: 20px;
}
.p-joke ,.shaden-nav{
  font-family: "Fredoka", sans-serif;
  font-family: "Shadows Into Light", cursive;
}
